<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Hello 4AHWII</title>
        <link rel="stylesheet" href="style.css" />
    </head>

    <body>
        <h2>Abteilungen von Zoo</h2>
        <ul>
            <% abteilungen.forEach(e=> { %>
            <li data-id="<%= e.id %>">
                <%= `Name: ${e.name} ZooId: ${e.zooId}`%>
            </li>
            <button type="button" onclick="window.location.href=''">
                Mehr Informationen erhalten:
            </button>
            <% }) %>
        </ul>
    </body>
</html>
